
.Background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Calculator Background.jpg');
    height: 700px;
}
.buttons{
    margin-bottom: 14px;
}
button{
    padding: 6px;
    margin-left: 10px;
    height: 60px;
    width: 60px;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 12px  white;
    border: solid;
    border-width: 1px;
    
}
button:active{
    box-shadow: none;
}
.all-calculater{
    
    background-color: rgb(17, 3, 68);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    margin-top: 40px;
    box-shadow: 0px 0px 200px rgb(170, 8, 170);
    border: solid;
    border-color: rgb(170, 8, 170);
    border-radius: 5px;
}
.result-display{
    font-size: 40px;
    color: rgb(0, 255, 0);
}
p{
    background-color: rgb(0, 0, 0);
    width: 270px;
    height: 80px;
    color: wheat;
    display: flex;
    align-items:end;
    padding-left: 10px;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 30px;
}
